<header class="main-header blog {{#if @blog.cover_image}}cover" style="background-image: url({{@blog.cover_image}}){{else}}lazy-cover-loader no-cover{{/if}}">
  <nav class="site-width">
    {{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
    <h3 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h3>
    <h4 class="blog-description">{{@blog.description}}</h4>

    {{> "social"}}
  </nav>
</header>
